body {
    margin: 0;
}

#game-board div {
    background-color: rgb(218, 246, 206);
}


#game-board {

    display: grid;
    grid-gap: 1px;
    border: 1px solid black;
 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}