#game-board{
    display: grid;
    grid-gap: 0.5px;
    background-color: black;
    border: 1px solid black;

}

#game-board div{
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    margin: 0;
}